PAGE_ACCESS_TOKEN=EAANO3VrnHOQBRfPeDYbGssO8h3ow766k6OyPoqyiZCEKeVXihRdZABXO6ZA5PszIBmSZB9T4mZBqBpuZBtZAcOoFxTZCq8H0cg1tKnw1Bi998s0HdU1x8TZAVMhtzhZAvJWGtgt3BgALhf2PZA0tBraxBZBUEPXd7eWyoSgxoqKbVQLl3Scl9Oqobmh1JnQWz5VuehHQPEyH3iGd2ZAMVmx5HqzNc1gZDZD
VERIFY_TOKEN=hyundai-st-raymond-2026
ANTHROPIC_API_KEY=votre_clé_anthropic_ici
ACTIVIX_API_KEY=votre_clé_activix_ici
PORT=3000
